attrs==20.3.0
Automat==20.2.0
bleak==0.9.1
constantly==15.1.0
hyperlink==20.0.1
idna==2.10
incremental==17.5.0
iniconfig==1.1.1
numpy==1.19.4
packaging==20.7
pandas==1.1.5
pluggy==0.13.1
py==1.9.0
PyHamcrest==2.0.2
pyparsing==2.4.7
pytest==6.1.2
pytest-asyncio==0.14.0
python-dateutil==2.8.1
python-dotenv==0.15.0
pytz==2020.4
six==1.15.0
toml==0.10.2
Twisted==20.3.0
txdbus==1.1.2
zope.interface==5.2.0
